aiohttp==2.2.5
async-timeout==2.0.0
chardet==3.0.4
https://github.com/Rapptz/discord.py/archive/rewrite.zip?1#egg=discord.py[voice]
multidict==3.3.0
peony-twitter==1.0.3
raven==6.2.1
websockets==3.4
yarl==0.13.0
